.box{
    background-color: #bb5656;
    max-width: 243px;
    max-height: 243px;
    width: 243px;
    height: 243px;
}

.layout {
    width: 100%;

    display: flex;
    gap: 16px;

    justify-content: space-around;
    align-items: center;
}